<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
<div th:fragment="header" style="text-align: center;">
    <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-6/434226126_2499689980238057_8869337170573055554_n.jpg?stp=dst-jpg_s600x600&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHy4M7ok1OEvWM5I_7qbo2wkLSiZfBDTE6QtKJl8ENMTgSgrua6zVvFHGUnnomWf3d-oWtELt6EZs0NMNRGNsht&_nc_ohc=u1X0if3wdCsQ7kNvgEzD42o&_nc_zt=23&_nc_ht=scontent-hkg4-1.xx&_nc_gid=A50byTkC0jQX_u-Xk00utSC&oh=00_AYC7sCnDHppxXZZOQNs3-_dDOZ_1VMhx-hBHWBt0ge-L0w&oe=672C0C1D"
    	 alt="Image" style="width: 100px; height: auto; border-radius: 50%; " >
</div> 

</body>
</html>
